.header__links {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .header__links {
    font-size: 24px;
    line-height: 28px;
  }
}
