.places__website-link {
  margin: 0 16px 32px 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (min-width: 768px){
  .places__website-link {
    margin: 0;
  }
}
