.footer__link {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }
}
