.places__card {
  margin: 50px 0 0 0;
}

.places__card:first-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .places__card {
    margin-top: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .places__card {
    margin-top: 80px;
  }
}
