.cover {
  margin: 0;
  display: flex;
  background-image: url(../../images/cover/__background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: calc(100vw * 10 / 16);
  justify-content: center;
}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 0 48px;
    max-width: 1184px;
  }
}
