.cover__title {
  margin: 33px 16px 16px 16px;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  align-self: center;
  color: #fff;
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 560px){
  .cover__title {
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}
