.places__website-url-heading {
  margin: 0 16px 12px 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media screen and (min-width: 768px){
  .places__website-url-heading {
    margin: 0 0 12px 0;
  }
}
